h1 {
color: rgb(34, 197, 61);
text-align: center;
justify-items: center;
font-family: monospace, sans-serif;
font-size: 45px;
margin-top: 50px;
text-shadow: 2px 2px 30px rgb(94, 0, 0);

}

label {
  display: block;
  margin-bottom: 5px;
}

body{
/*background-color: rgb(113, 92, 170);*/
background: linear-gradient(144deg, #00DDEB, #5b42f3, #AF40FF);
text-align: center;
align-items: center;
justify-items: center;
margin-top: auto;
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

.planet-name {
    color: rgb(34, 197, 61);      
    font-weight: bold;
    font-size: larger;
}

.planet-weight {
    color: rgb(34, 197, 61);      
    font-weight: bold;
    font-size: larger;
}

/*.container {
    width: 100%;
}*/

.row {
  display: flex;
  gap: 20px; /* Provides space between columns */
  margin-bottom: 10px;
}

.columnR {
  /* On mobile, columns take up the full width (minus gap) */
  flex: 1 1 100%;
  padding: 10px;
  /*background-color: #eee;*/
  text-align: left;
}
.columnL {
  /* On mobile, columns take up the full width (minus gap) */
  flex: 1 1 100%;
  padding: 10px;
  /*background-color: #eee;*/
  text-align: right;
}

.columnC {
  /* On mobile, columns take up the full width (minus gap) */
  flex: 1 1 100%;  
  padding: 10px;
  /*background-color: #eee;*/
  text-align: center;
  /*align-items: center;
  justify-content: center;
  justify-items: center;*/
}

  .column{
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;
  }


@media (min-width: 600px) {
  .column {
    /* On wider screens (tablets/desktops), columns share the space equally */
    flex: 1 1 calc(33% - 10px); /* Makes them roughly third-width */
    
  }


}
